<!doctype html>
<html>

<head>
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="header">
    <div v-if="state === 'WAITING' || state === 'READY'">
      <div class="members">
        <div class="member" v-for="member in members">
          <img class="member__image avatar" :src="member.image"></img>
          <span class="label">{{ member.ready ? 'ready' : ' ' }}</span>
        </div>
      </div>
      <div class="actions">
        <div v-if="amReady">I'm Ready!</div>
        <button v-else @click="ready">I'm Ready!</button>
        <button @click="start">Start</button>
      </div>
    </div>
    <div v-if="state === 'IN_SESSION'">

    </div>
    <div v-if="state === 'COMPLETE'">

    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="messages">

      </div>
      <form class="footer">
        <input type="text" placeholder="Your message..">
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <template data-template="message">
    <div class="message">
      <div class="message__name">
        <img class="message__name__image_tag avatar" src="" height="32" width="32" alt="">
        <span class="message__name__name_tag"></span>
      </div>
      <div class="message__bubble"></div>
    </div>
  </template>

  <template data-template="system--message">
    <div class="system--message">

    </div>
  </template>

  <script src="index.js" type="module"></script>
  <script src="game/index.js" type="module"></script>
</body>

</html>
