<!doctype html>
<html>

<head>
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://triton.www.linkedin.com/assets/triton-fe-c88f875a80e9ad74dd3caa4dee2fe668.css">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="header">
    <div v-if="state === 'WAITING' || state === 'READY'">
      <div class="members">
        <div class="member" v-for="member in members">
          <img class="member__image avatar" :src="member.image"></img>
          <span class="label" :class="{ 'label--ready': amReady }">{{ member.ready ? 'ready' : ' ' }}</span>
        </div>
      </div>
      <div class="actions">
        <button v-if="!amReady" @click="ready" class="artdeco-button artdeco-button--2 artdeco-button--secondary">I'm Ready!</button>
        <button v-if="isEveryoneReady" @click="start" class="artdeco-button artdeco-button--2 artdeco-button--primary">Start</button>
      </div>
    </div>
    <div v-if="state === 'IN_SESSION'">
      <div class="reactions">
        <div v-for="reaction in reactions" class="reaction" :style="{ left: reaction.progress + '%' }" @click="discuss(reaction)">
          <img class="reaction__image avatar" :src="memberImage(reaction.id)">
          <span>{{ reaction.emoji }}</span>
        </div>
      </div>
      <div class="progress">
        <div class="progress__filler" :style="{ width: progress + '%' }"></div>
      </div>
      <div class="actions">
        <button v-if="progress >= 100" class="artdeco-button artdeco-button--2 artdeco-button--primary" @click="complete">Complete</button>
        <template v-else>
            <button v-for="emoji in emojis" @click="react(emoji)" class="artdeco-button artdeco-button--2 artdeco-button--secondary actions__emoji">{{ emoji }}</button>
        </template>
      </div>
    </div>
    <div v-if="state === 'COMPLETE'">

    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="messages">

      </div>
      <form class="footer">
        <input type="text" placeholder="Your message..">
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <template data-template="message">
    <div class="message">
      <div class="message__name">
        <img class="message__name__image_tag avatar" src="" height="32" width="32" alt="">
        <span class="message__name__name_tag"></span>
      </div>
      <div class="message__bubble"></div>
    </div>
  </template>

  <template data-template="system--message">
    <div class="system--message">

    </div>
  </template>

  <script src="index.js" type="module"></script>
  <script src="game.js" type="module"></script>
</body>

</html>
