body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: white;
}
.header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 15px;
  border-bottom: 1px solid rgba(156, 172, 172, 0.2);
}
.header__members {
  color: rgb(0, 145, 202);
  text-decoration: none;
}
.container {
  position: relative;
  height: 90vh;
}
.members {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: white;
  opacity: 0.95;
  padding: 15px;
}
.members--hidden {
  display: none;
}
.member {
  display: flex;
  align-items: center;
}
.member:not(:first-child) {
  margin-top: 15px;
}
.member__image {
  width: 32px;
  height: 32px;
}
.content {
  box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
  border-radius: 3px;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messages {
  flex-grow: 1;
  padding: 20px 30px;
  overflow: auto;
}
.message {
  display: flex;
  flex-direction: column;
}
.system--message {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  text-align: center;
  opacity: 0.5;
  margin-top: 5px;
}
.message--mine {
  align-items: flex-end;
}
.message--theirs {
  align-items: flex-start;
}
.message__name {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.message__bubble {
  padding: 15px;
  border-radius: 15px;
}
.message--theirs .message__bubble {
  background: #6363bf;
  color: white;
}
.message--mine .message__bubble {
  background: rgba(156, 172, 172, 0.2);
}
.footer {
  line-height: 76px;
  border-top: 1px solid rgba(156, 172, 172, 0.2);
  display: flex;
  flex-shrink: 0;
}
input {
  height: 76px;
  border: none;
  flex-grow: 1;
  padding: 0 30px;
  font-size: 16px;
  background: transparent;
  outline: none;
}
button {
  border: none;
  background: transparent;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
}
.avatar {
  margin-right: 8px;
  border: 1px solid #c7d1d8;
  border-radius: 50%;
}
