body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: white;
}
.header {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(156, 172, 172, 0.2);
  min-height: 100px;
}
.header > div {
  width: 100%;
}
.header__members {
  color: rgb(0, 145, 202);
  text-decoration: none;
}
.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}
.actions__emoji {
  padding: 8px;
  border-radius: 50%;
  outline: none !important;
}
.members {
  display: flex;
  flex-wrap: wrap;
}
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member:not(:first-child) {
  margin-left: 8px;
}
.member .label {
  width: 30px;
  height: 12px;
  line-height: 12px;
  color: rgba(255,255,255,.85);
  border-radius: 2px;
  font-size: 9px;
  text-align: center;
  border: 1px dotted #0073b1;
}
.member .label--ready {
  background-color: #0073b1;
}
.member__image {
  width: 32px;
  height: 32px;
}
.progress {
  background-color: lightgray;
}
.progress__filler {
  background-color: #0073b1;
  height: 10px;
}
.reactions {
  position: relative;
  height: 50px;
  margin: 0 10px 0 -10px;
}
.reaction {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.reaction:after {
  content: "|";
  color: gray;
  margin-top: -6px;
}
.reaction__image {
  width: 20px;
  height: 20px;
}
.messages {
  flex-grow: 1;
  padding: 20px 30px;
  overflow: auto;
}
.message {
  display: flex;
  flex-direction: column;
}
.system--message {
  text-align: center;
  margin-top: 5px;
  color: #9b9ea2;
}
.message--mine {
  align-items: flex-end;
}
.message--theirs {
  align-items: flex-start;
}
.message__name {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.message__bubble {
  padding: 15px;
  border-radius: 15px;
}
.message--theirs .message__bubble {
  background: #6363bf;
  color: white;
}
.message--mine .message__bubble {
  background: rgba(156, 172, 172, 0.2);
}
.footer {
  line-height: 76px;
  border-top: 1px solid rgba(156, 172, 172, 0.2);
  display: flex;
  flex-shrink: 0;
}
.footer input {
  height: 76px;
  border: none;
  flex-grow: 1;
  padding: 0 30px;
  font-size: 16px;
  background: transparent;
  outline: none;
}
.footer button {
  border: none;
  background: transparent;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
}
.avatar {
  border: 1px solid #c7d1d8;
  border-radius: 50%;
}
.message .avatar {
  margin-right: 8px;
}
.quiz {
  width: 100%;
}
