artdeco-tabpanel.course-body__info-panel--notes {
  padding: 0 !important;
}
.learning_course_notes {
  height: 100%;
  overflow: hidden;
}
.course-notes {
  display: none;
}
iframe.hackday {
  width: 100%;
  height: 100%;
}
